<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>CU Rock Climbing</title>
	<meta name="description" content="Columbia University Rock Climbing Club">
	<meta name="author" content="Arvind Srinivasan">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/stylesheets/base.css">
	<link rel="stylesheet" href="../static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="../static/stylesheets/layout.css">
	

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../static/images/favicon.ico">
	<link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../static/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../static/images/apple-touch-icon-114x114.png">

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->
	
	
	<div id="intro">
	
		<div class="bg1"></div>
		
		<div class="title">
			<div class="intro-line"></div>
			<h1>Columbia University</h1>
			<h1 class="small">Rock Climbing Club</h1>
			<div class="intro-line"></div>
			<p>Contact Us.</p>
			<div class="social-intro">
				<ul>
					<li><a href="http://twitter.com/cuclimbing"><img src="../static/images/icn-twitter-intro.png" alt="" /></a></li>
					<li><a href="mailto:curockclimbing@gmail.com"><img src="../static/images/mail.jpg" alt="" /></a></li>
				</ul>
			</div>
		</div> <!-- end title -->
	</div> <!-- end intro -->
	
	
	<nav>
		<ul>
			<li><a href="#intro">Top</a></li>
			<li><a href="#contact">Register</a></li>
		</ul>
	</nav>
	<form id="registration" method="GET" action="javascript: console.log('register called');">
	<div id="contact">
		<div class="container">
			<div class="sixteen columns">
				<h2 class="white"><span class="lines">Register</span></h2>
			</div> <!-- end sixteen columns -->

			<div class="eight columns">
				<div class="eight columns" style="text-align:center">
					<h3 class="white"><span class="lines">Registration Info</span></h3>
				</div>
				<div class="clear"></div>
				<div class="contact-form">
					<p>First Name</p>
					<input type="text" name="fname" class="text" />
					
					<p>Middle Name</p>
					<input type="text" name="mname" class="text" />
					
					<p>Last Name</p>
					<input type="text" name="lname" class="text" />

					<p>email</p>
					<input type="text" name="email" class="text"/>

					<p>gender</p>
					<div id="gensel-m" class="button2 btn">Male</div>
					<div id="gensel-m" class="button2 btn">Female</div>
					
					<p>t-shirt size</p>
					<div id="ssel-s" class="button2 btn">Small</div>
					<div id="ssel-m" class="button2 btn">Medium</div>
					<div id="ssel-l" class="button2 btn">Large</div>
					<div id="ssel-xl" class="button2 btn">X-Large</div>

					<p>school</p>
					<select name="school" style="color:black">
						<option value="ARCH">Architecture</option>
						<option value="ARTS">Arts</option>
						<option value="BARNARD">Barnard College</option>
						<option value="GSB">Business</option>
						<option value="CC">Columbia College</option>
						<option value="CE">Continuing Education</option>
						<option value="DM">Dental Medicine</option>
						<option value="SEAS">Engineering</option>
						<option value="GS">General Studies</option>
						<option value="GSAS">Graduate School of Arts and Sciences</option>
						<option value="SIPA">International &amp; Public Affairs</option>
						<option value="JTS">Jewish Theological Seminary</option>
						<option value="J">Journalism</option>
						<option value="LAW">Law</option>
						<option value="CUMC">Medicine</option>
						<option value="NURS">Nursing</option>
						<option value="PH">Public Health</option>
						<option value="SSW">Social Work</option>
						<option value="TC">Teachers College</option>
						<option value="UTS">Union Theological Seminary</option>
					</select>

					<p>Are you graduating after this year?</p>
					<div id="gsel-y" class="button2 btn">Yes</div>
					<div id= "gsel-n" class="button2 btn">No</div>

					<p>Can you drive a van (are over 21 and willing to take the Club Sports certification)?<p>
                                        <div id="dsel-y" class="button2 btn">Yes</div>
                                        <div id= "dsel-n" class="button2 btn">No</div>

					<p>cuid number (on the back of your cuid, not your uni)</p>
					<input type="text" name="cuid" class="text" />

					<p>address</p>
					<input type="text" name="address" class="text"/>

				</div> <!-- end contact-form -->
			</div> <!-- end eight columns -->

			<div class="pricing">
				<h3 class="white"><span class="lines">Membership Types</span></h3>
				<p class="white"> ALL MEMBERSHIPS INCLUDE A T-SHIRT AND ACCESS TO OUTDOOR TRIPS (LONGER TRIPS MAY HAVE NOMINAL FEE) </p>
				<div class="four columns" id="bk1">
					<p class="p-name">Brooklyn Boulders</p>
					<p class="p-price">$495<span class="p-small">/ 9 mo</span></p>
					<ul>
						<li>9 Months</li>
						<li>Recommended for Comp Team</li>
						<li>(347)834-9066</li>
						<li><a style="color:white;" href="www.brooklynboulders.com">Website</a></li>
					</ul>
					<div class="signup"><div id="msel-bk1" class="button2 btn">Select</div></div>
				</div>
				<div class="four columns" id="bk2">
					<p class="p-name">Brooklyn Boulders</p>
					<p class="p-price">$610<span class="p-small">/ 12 mo</span></p>
					<ul>
						<li>12 Months</li>
						<li>20% Discount</li>
						<li>(347)834-9066</li>
						<li><a style="color:white;" href="www.brooklynboulders.com">Website</a></li>
					</ul>
					<div class="signup"><div id="msel-bk2" class="button2 btn">Select</div></div>
				</div>
				<div class="four columns" id="mphc">
					<p class="p-name">MPHC</p>
					{% if mphc_available %}
					<p class="p-price">$285 <span class="p-small">/ 9 mo</span></p>
					{% else %}
					<p class="p-price">$335 (Sold out of cheap ones) <span class="p-small">/ 9 mo</span></p>
					{% endif %}
					<ul>
						<li>$285 for first 50, then $335</li>
						<li>Closest Gym to Campus</li>
						<li>5000 sqft vs 22000 at BKB</li>
						<li><a style="color:white;" href='http://www.mphc.com/climbinggym/'>Website</a></li>
					</ul>
					<div class="signup"><div id="msel-mphc" class="button2 btn">Select</div></div>
				</div>
				<div class="four columns">
					<p class="p-name">Default</p>
					<p class="p-price">$35<span class="p-small"> / yr</span></p>
					<ul>
						<li>Access to Outdoor Trips</li>
						<li>Climbing Club T Shirt</li>
						<li>Separate Fee for Climbing Team</li>
						<li>Must provide own gear</li>
					</ul>
					<div class="signup"><div id="msel-default" class="button2 btn">Selected</div></div>
				</div>
		</div> <!-- end eight columns -->
		<div id="mselect" style="visibility:hidden">
					<input type="radio" name = "gensel" value="m" checked>
					<input type="radio" name = "gensel" value="f">
					 <input type="radio" name = "dsel" value="y">
                                        <input type="radio" name = "dsel" value="n" checked>
					<input type="radio" name = "gsel" value="y">
					<input type="radio" name = "gsel" value="n" checked>
					<input type="radio" name = "ssel" value="s">
					<input type="radio" name = "ssel" value="m" checked>
					<input type="radio" name = "ssel" value="l">
					<input type="radio" name = "ssel" value="xl">
					<input type="radio" name = "msel" value="bk1">
					<input type="radio" name = "msel" value="bk2">
					<input type="radio" name = "msel" value="mphc">
					<input type="radio" name = "msel" value="default" checked>
		</div>
	<div class="clear"></div>
	<div class="sixteen columns">
		<input type="submit" id="submit" value="Submit" class="submit-button" style="display:block; margin-left:auto; margin-right:auto; font-size: 35px"/>
	</div>		
	</form>
	<div class="sixteen columns">
		<div class="copyright">
			<p>&copy; 2012 Arvind Srinivasan aka Generalissimo</p>
		</div>
	</div>
</div> <!-- end container -->
</div>
<!-- end contact -->


	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="../static/js/jquery.sticky.js" type="text/javascript"></script>
	<script src="../static/js/nbw-parallax.js" type="text/javascript"></script>
	<script src="../static/js/jquery.inview.js" type="text/javascript"></script>
	<script src="../static/js/jquery.smooth-scroll.js" type="text/javascript"></script>
	
	<!-- Sticky nav -->
	<script>
		$(document).ready(function(){
			$("nav").sticky({topSpacing:0});
		});
	</script>
	
	<!-- smooth scroll -->
	<script>
	    $(document).ready(function() {

		    $('nav a').smoothScroll();
        });
    </script>
	<!-- select defaults -->
	<script>
		var defaultsarray = [$('#msel-default')[0], $('#dsel-n')[0], $('#ssel-m')[0], $('#gensel-m')[0], $('#gsel-n')[0]];
		$(defaultsarray).addClass('button1');
		$(defaultsarray).removeClass('button2');
	</script>
	<!-- buttons to options -->
	<script>
		$('.btn').click(function(){
			var opt = this.id.split("-");
			if ($(this).hasClass('button2')){
				$('[id^=' + opt[0] + ']').each(function(){
					$(this).removeClass('button1');
					$(this).addClass('button2');
					if ($(this).text() == 'Selected')
						$(this).text('Select');
				});
				$('input[name=' + opt[0] + '][value=' + opt[1] + ']').attr('checked', true);
				$(this).removeClass('button2');
				$(this).addClass('button1');
				if ($(this).text() == 'Select')
					$(this).text('Selected');
			}
		});
	</script>
	<!-- basic form validation -->
	<script>
		$('#registration').submit(function(){
			var validated = true;
			$('.text').each(function(){
				if ($(this).val() == '' && this.name != 'mname'){
					alert('You must specify ' + $(this).prev().text());
					validated = false;
					return false;
				}
			});
			if (validated){
				var params = "";
				$.each($('#registration').serializeArray(), function(i, field) {
   					params += '&' + field.name + '=' + field.value;
				});
				$.getJSON(encodeURI('/registration.json?' + params.substring(1)), function(data){
					if (data.already_inserted == 'true'){
						$('#submit').attr('value','We already have an entry for you in our system.');
						$('input').prop('disabled',true);
					}
					else if (data.already_inserted == 'false'){
						$('#submit').attr('value','Thanks for registering!').delay(3000).attr('value','Reloading the page');
						location.reload()
					}
				});

			}
		});
	</script>

<!-- End Document
================================================== -->
</body>
</html>
